.profile__info {
    flex: 1 1 auto;
    max-width: calc(100% - 120px - 150px);
    padding-right: 25px;
}
@media screen and (max-width: 600px) {
    .profile__info {
        max-width: calc(100% - 38px);
        align-self: center;
        padding: 26px 0 36px 0;
        text-align: center;
    }
}