.popup__container-delete {
    width: 100%;
    max-width: 430px;
    min-height: 181px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0px;
}
  
@media screen and (max-width: 600px) {
    .popup__container-delete {
      width: calc(100% - 60px);
    }
}