.popup__container_type_form {
    position: relative;
    padding: 0;
    width: 100%;
    min-width: 282px;
    max-width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .popup__container {
        height: 322px;
        width: calc(100% - 38px);
    }    
}

.popup__container_type_delete {
    width: 100%;
    max-width: 430px;
    min-height: 181px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0px;
}
  
@media screen and (max-width: 600px) {
    .popup__container_type_delete {
      width: calc(100% - 60px);
    }
}  

.popup__container_type_avatar {
    width: 100%;
    max-width: 430px;
    height: 272px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0;
  }
  
  @media screen and (max-width: 600px) {
    .popup__container_type_avatar {
      width: calc(100% - 60px);
    }
  }
  