.profile__button-add {
    background-image: url('../../../images/add_button.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    flex: none;
    transition: all .5s ease;
}
.profile__button-add:hover {
    opacity: 0.6;
}
@media screen and (max-width: 600px) {
    .profile__button-add {
        width: 100%;
        background-size: 16px 16px;
    }
}